/* app css stylesheet */



.thumb {
  float: left;
  margin: -1em 1em 1.5em 0em;
  padding-bottom: 1em;
  height: 100px;
  width: 100px;
}

table {
	table-layout: fixed;
    width: 100%;   
}
table ,td ,th {
	border:1px solid black;
	border-collapse: collapse;
}
th {
	background-color: #78808d;
	color:white;
}
th,td {
	 word-wrap: break-word;
}




.x.axis path {
  display: none;
}

.axis path, .axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}
.axis text {
	font-family: sans-serif;
	font-size: 11px;
}
